[gcode_macro _IFS_COLORS]
variable_tools:[]
variable_colors:''
variable_types:''
variable_open:0
variable_filename:''
variable_exclude:''
variable_version:'0.0.0'

gcode:
    {% set ifs = printer['gcode_macro _IFS_VARS'] %}
    {% set ifs_colors = printer['gcode_macro _IFS_COLORS'] %}

    {% if 'EXCLUDE' in params %}
      SET_GCODE_VARIABLE MACRO=_IFS_COLORS VARIABLE=exclude VALUE='"{params.EXCLUDE}"'
    {% endif %}

    {% if 'VERSION' in params %}
      {% set ver_colors = params.VERSION.split('.') %}
      SET_GCODE_VARIABLE MACRO=_IFS_COLORS VARIABLE=version VALUE='"{params.VERSION}"'
    {% else %}
      {% set ver_colors = ifs_colors.version.split('.') %}
    {% endif %}

    {% if 'START' in params %}
      SET_GCODE_VARIABLE MACRO=_IFS_VARS VARIABLE=start VALUE=1
      {% set start = 1 %}
    {% else %}
      {% set start = ifs.start %}
    {% endif %}

    {% set tools = params.TOOLS|default(0) %}
    {% if tools != 0 %}
      {% set tools = params.TOOLS.split(',') %}
      SET_GCODE_VARIABLE MACRO=_IFS_COLORS VARIABLE=tools VALUE='{tools}'
    {% else %}
      {% set tools = ifs_colors.tools %}
    {% endif %}

    {% set colors = params.COLORS|default(0) %}
    {% if colors != 0 %}
      {% set colors = params.COLORS.split(',') %}
      SET_GCODE_VARIABLE MACRO=_IFS_COLORS VARIABLE=colors VALUE='"{params.COLORS}"'
    {% else %}
      {% set colors = ifs_colors.colors.split(',') %}
    {% endif %}

    {% set types = params.TYPES|default(0) %}
    {% if types != 0 %}
      {% set types = params.TYPES.split(',') %}
      SET_GCODE_VARIABLE MACRO=_IFS_COLORS VARIABLE=types VALUE='"{params.TYPES}"'
    {% else %}
      {% set types = ifs_colors.types.split(',') %}
    {% endif %}

    {% set ifs_types = [] %}
    {% for i in range(1,5) %}
      {% set ns = namespace(tool=0,type='') %}
      {% for port in ifs.tools %}
        {% if port == i and ns.type=='' %}
          {% if ifs.types[i-1] == '' %}
            _IFS_COLORS_PORT_TYPE PORT={port} TYPE={types[ns.tool]}
            {% set ns.type = types[ns.tool] %}
          {% else %}
            _IFS_COLORS_PORT_TYPE PORT={port} TYPE={ifs.types[i-1]}
            {% set ns.type = ifs.types[i-1] %}
          {% endif %}
        {% endif %}
        {% set ns.tool = ns.tool + 1 %}
      {% endfor %}
      {% if ns.type == '' %}
        {% set _ = ifs_types.append(ifs.types[i-1]) %}
      {% else %}
        {% set _ = ifs_types.append(ns.type) %}
      {% endif %}
    {% endfor %}

    {% if 'E_FEEDRATES' in params %}
      {% set e_feedrates = params.E_FEEDRATES.split(',') %}
      {% set ns = namespace(e_feedrates=[]) %}
      {% for tool in range(0,16) %}
        {% if tool|string in tools %}
          {% set _ = ns.e_feedrates.append(e_feedrates[tool]|int) %}
        {% else %}
          {% set _ = ns.e_feedrates.append(130) %}
        {% endif %}
      {% endfor %}
      _IFS_VARS e_feedrates='{ns.e_feedrates}'
    {% endif %}

    RESPOND TYPE=command MSG="action:prompt_begin <div style='display:flex;flex-direction:column;align-items:stretch;gap:1em;'><div style='display:flex;flex-direction:row;justify-content:space-between;align-items:center;'><span style='font-weight:bold;font-size:1.2em;'>Color/Type to Port</span></div>"
    #RESPOND TYPE=command MSG="action:prompt_text <div style='display:flex;flex-direction:row;gap:1em;'><button style='flex:1;' onclick='klipper.send(\"_IFS_COLORS_KAMP KAMP={% if ifs.kamp == 1 %}0{% else %}1{% endif %}\")'>LEVELING{% if ifs.kamp == 1 %} (on){% endif %}</button><button style='flex:1;' onclick='klipper.send(\"_IFS_COLORS_IFS EXTERNAL={% if ifs.external == 1 %}0{% else %}1{% endif %}\")'>IFS{% if ifs.external == 0 %} (on){% endif %}</button><button style='flex:1;' onclick='klipper.send(\"_IFS_COLORS_BACKUP BACKUP={% if ifs.backup == 1 %}0{% else %}1{% endif %}\")'>BACKUP{% if ifs.backup == 1 %} (on){% endif %}</button></div>"
    #RESPOND TYPE=command MSG="action:prompt_text <div style='display:flex;flex-direction:row;gap:1em;justify-content:center;margin-top:1em;'>"