[gcode_macro _IFS_COLORS]
variable_tools:[]
variable_colors:''
variable_types:''
variable_open:0
variable_filename:''
variable_exclude:''
variable_version:'0.0.0'
variable_current_tool:-1

gcode:
    {% set ifs = printer['gcode_macro _IFS_VARS'] %}
    {% set ifs_colors = printer['gcode_macro _IFS_COLORS'] %}

    {% if 'EXCLUDE' in params %}
      SET_GCODE_VARIABLE MACRO=_IFS_COLORS VARIABLE=exclude VALUE='"{params.EXCLUDE}"'
    {% endif %}

    {% if 'VERSION' in params %}
      {% set ver_colors = params.VERSION.split('.') %}
      SET_GCODE_VARIABLE MACRO=_IFS_COLORS VARIABLE=version VALUE='"{params.VERSION}"'
    {% else %}
      {% set ver_colors = ifs_colors.version.split('.') %}
    {% endif %}

    {% if 'START' in params %}
      SET_GCODE_VARIABLE MACRO=_IFS_VARS VARIABLE=start VALUE=1
      {% set start = 1 %}
    {% else %}
      {% set start = ifs.start %}
    {% endif %}

    {% set tools = params.TOOLS|default(0) %}
    {% if tools != 0 %}
      {% set tools = params.TOOLS.split(',') %}
      SET_GCODE_VARIABLE MACRO=_IFS_COLORS VARIABLE=tools VALUE='{tools}'
    {% else %}
      {% set tools = ifs_colors.tools %}
    {% endif %}

    {% set colors = params.COLORS|default(0) %}
    {% if colors != 0 %}
      {% set colors = params.COLORS.split(',') %}
      SET_GCODE_VARIABLE MACRO=_IFS_COLORS VARIABLE=colors VALUE='"{params.COLORS}"'
    {% else %}
      {% set colors = ifs_colors.colors.split(',') %}
    {% endif %}

    {% set types = params.TYPES|default(0) %}
    {% if types != 0 %}
      {% set types = params.TYPES.split(',') %}
      SET_GCODE_VARIABLE MACRO=_IFS_COLORS VARIABLE=types VALUE='"{params.TYPES}"'
    {% else %}
      {% set types = ifs_colors.types.split(',') %}
    {% endif %}

    # ---- Hlavní dialog: nadpis, LEVELING/IFS/BACKUP, informace, extrudery ----
    {% set filament_info = "Aktuálně vložené vlákno: " ~ types[0] ~ ", " ~ colors[0] %}
    {% set html_main = "<div style='display:flex; flex-direction:column; gap:10px'>"
    html_main = html_main + "<div><strong>LEVELING     IFS     BACKUP</strong></div>"
    html_main = html_main + "<div>" ~ filament_info ~ "</div>"
    html_main = html_main + "<div style='display:flex; gap:5px'>"
    {% for tool in range(4) %}
      html_main = html_main + "<button onclick='_IFS_COLORS_EXTRUDER TOOL=" ~ tool ~ "'>EXTRUDER" ~ (tool+1) ~ "</button>"
    {% endfor %}
    html_main = html_main + "</div></div>"
    RESPOND TYPE=command MSG="action:prompt_html {{ html_main }}"

    SET_GCODE_VARIABLE MACRO=_IFS_COLORS VARIABLE=open VALUE=1


[gcode_macro _IFS_COLORS_EXTRUDER]
variable_tool:0
gcode:
    {% set tool = params.TOOL|int %}
    SET_GCODE_VARIABLE MACRO=_IFS_COLORS VARIABLE=current_tool VALUE={tool}

    {% set ifs = printer['gcode_macro _IFS_VARS'] %}
    {% set ifs_colors = printer['gcode_macro _IFS_COLORS'] %}
    {% set ifs_types = ifs_colors.types.split(',') %}

    # ---- Detailní dialog: porty + typ/barva/retract/zavést/vyjmout + ZRUŠIT/HOTOVO ----
    {% set html_detail = "<div style='display:flex; flex-direction:column; gap:10px'>" %}
    # Porty
    html_detail = html_detail + "<div style='display:flex; gap:5px'>"
    {% for port in range(1,5) %}
      {% if printer['filament_switch_sensor _ifs_port_sensor_'+port|string].filament_detected %}
        html_detail = html_detail + "<button onclick='_IFS_COLORS_ASSIGN_TOOL_PORT TOOL=" ~ tool ~ " PORT=" ~ port ~ "'>PORT" ~ port ~ "</button>"
      {% else %}
        html_detail = html_detail + "<button disabled>PORT" ~ port ~ "</button>"
      {% endif %}
    {% endfor %}
    html_detail = html_detail + "</div>"

    # Typ / Barva / Retract / Zavést / Vyjmout
    html_detail = html_detail + "<div style='display:flex; gap:5px'>"
    html_detail = html_detail + "<button onclick='_IFS_COLORS_TYPE TOOL=" ~ tool ~ "'>TYP</button>"
    html_detail = html_detail + "<button onclick='_IFS_COLORS_COLOR TOOL=" ~ tool ~ "'>BARVA</button>"
    html_detail = html_detail + "<button onclick='_IFS_COLORS_RETRACT TOOL=" ~ tool ~ "'>RETRACT</button>"
    html_detail = html_detail + "<button onclick='_IFS_COLORS_INSERT TOOL=" ~ tool ~ "'>ZAVÉST</button>"
    html_detail = html_detail + "<button onclick='_IFS_COLORS_REMOVE TOOL=" ~ tool ~ "'>VYJMOUT</button>"
    html_detail = html_detail + "</div>"

    # ZRUŠIT / HOTOVO
    html_detail = html_detail + "<div style='display:flex; gap:5px'>"
    html_detail = html_detail + "<button onclick='_IFS_COLORS_CANCEL_TOOL TOOL=" ~ tool ~ "'>ZRUŠIT</button>"
    html_detail = html_detail + "<button onclick='_IFS_COLORS_DONE_TOOL TOOL=" ~ tool ~ "'>HOTOVO</button>"
    html_detail = html_detail + "</div>"

    html_detail = html_detail + "</div>"
    RESPOND TYPE=command MSG="action:prompt_html {{ html_detail }}"    